{% extends "base.html" %}
{% block title %}Posts by author{% endblock %}
{% block content %}
<h2>Search posts by author</h2>
<form class="search-form" method="get" action="{% url 'blog:posts_by_author' %}">
  <label class="visually-hidden" for="author">Author username</label>
  <input type="text" id="author" name="author" value="{{ author }}"
         placeholder="author username"
         hx-get="{% url 'blog:posts_by_author' %}"
         hx-trigger="keyup changed delay:300ms, search"
         hx-target="#search-results">
  <button type="submit">Search</button>
</form>

<div id="search-results">
  {% include "blog/_post_results.html" %}
</div>
{% endblock %}
