{% extends "base.html" %}
{% block title %}All posts{% endblock %}
{% block content %}
<h2>All posts (newest first)</h2>
<ul class="post-list">
  {% for post in posts %}
    <li>
      <span class="post-date">{{ post.created_at|date:"Y-m-d" }}</span>
      <span class="post-title">{{ post.title }}</span>
      by <a href="{% url 'blog:posts_by_author' %}?author={{ post.author.username }}">{{ post.author }}</a>
    </li>
  {% empty %}
    <li>No posts yet.</li>
  {% endfor %}
</ul>
{% endblock %}
