{% extends "base.html" %}
{% block title %}Posts by author{% endblock %}
{% block content %}
<h2>Search posts by author</h2>
<form class="search-form" method="get" action="{% url 'blog:posts_by_author' %}">
  <label class="visually-hidden" for="author">Author username</label>
  <input type="text" id="author" name="author" value="{{ author }}" placeholder="author username">
  <button type="submit">Search</button>
</form>

{% if author %}
  <h3>Posts by {{ author }}</h3>
  <ul class="post-list">
    {% for post in posts %}
      <li>
        <span class="post-date">{{ post.created_at|date:"Y-m-d" }}</span>
        <span class="post-title">{{ post.title }}</span>
      </li>
    {% empty %}
      <li>No posts found for "{{ author }}".</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
